<table>
  <thead>
    <tr>
      <th>name</th>
      <th>specialization</th>
      <th>experience</th>
      <th *ngIf="isAdmin">Top</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doctor of doctors">
      <td>{{ doctor.name }}</td>
      <td>{{ doctor.specialization }}</td>
      <td>{{ doctor.experience }} years</td>
      <td *ngIf="isAdmin">
        <input
          type="checkbox"
          [value]="doctor.top"
          [checked]="doctor.top"
          (change)="onTopDoctorChange(doctor)"
        />
      </td>
      <td>{{ doctor.description }}</td>
    </tr>
  </tbody>
</table>
