@import "../../../../styles";

.header-container {
  @include containerStyle;
  justify-content: space-between;

  .profile-btn {
    border: none;
    background-color: transparent;
    color: $primary-color;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-family: $primary-font-family;
  }
  .profile-btn:hover {
    color: $accent-color;
  }

  .links-container {
    display: flex;
    column-gap: 20px;

    .link-item {
      text-decoration: none;
      color: $primary-color;
      font-size: 14px;
      transition: 0.3s ease-in-out;
      cursor: pointer;
    }

    .link-item:hover {
      color: $accent-color;
    }

    .link-item.router-link-active {
      color: $accent-color;
    }
  }

  .logout-btns-container {
    display: flex;
    column-gap: 30px;
  }
}
