@import "../../../../styles";

.hp-login-form {
  @include flexColumnWithGap($gap: 20px);
  align-items: center;

  .hp-login-btn-container {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    background-color: $primary-color;
    min-width: 200px;
    padding: 10px;
    transition: 0.2s ease-in-out;

    .hp-login-img {
      height: 30px;
      cursor: pointer;
    }

    .hp-login-btn {
      background-color: transparent;
      border: none;
      font-family: $primary-font-family;
      cursor: pointer;
    }
  }

  .hp-login-btn-container:hover {
    background-color: $accent-color;
  }
}
