@import "../../../../styles";

:host {
  display: none;

  .hp-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: auto;

    .hp-modal-body {
      position: fixed;
      width: 30%;
      padding: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $light-grey-color;
      border-radius: 20px;
    }
  }

  .hp-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $dark-color;
    opacity: 0.9;
    z-index: 5;
  }
}
