<hp-page-banner [pageTitle]="title" [bannerImgUrl]="url" />

<div class="hp-search-bar-container">
  <hp-search-bar (sendInputValue)="onSearchStrChange($event)" />

  <div class="hp-sort-by-container">
    <select
      class="hp-select-container"
      [formControl]="sortingType"
      (change)="onSortingTypeChange()"
    >
      <option value="" hidden>Sort by:</option>
      <option
        *ngFor="let sortingType of sortingTypes"
        class="hp-option-item"
        [value]="sortingType"
      >
        {{ sortingType }}
      </option>
    </select>
  </div>
</div>

<div class="hp-doctors-list-container" #target>
  <div class="hp-filter-by-container">
    <h4 class="hp-filter-by-title">Filter by:</h4>
    <p class="hp-filter-criterion">Specialization</p>
    <div class="hp-checkboxes-container">
      <div
        *ngFor="let item of visibleSpecialties | async; let i = index"
        class="hp-checkbox-container"
      >
        <input
          type="checkbox"
          [id]="i"
          [(ngModel)]="item.checked"
          (change)="onSpecialtiesChange()"
        />
        <label [for]="i">{{ item.name }}</label>
      </div>
    </div>
  </div>

  <div class="hp-card-table-switcher-container">
    <button
      type="button"
      class="hp-switch-item"
      [ngClass]="{ isActive: isCardView }"
      (click)="onViewChange()"
    >
      card
    </button>
    <button
      type="button"
      class="hp-switch-item"
      [ngClass]="{ isActive: !isCardView }"
      (click)="onViewChange()"
    >
      table
    </button>
  </div>
</div>
<hp-contacts />
