$primary-color: #fff;
$dark-color: #353c3f;
$brown-color: #756867;
$accent-color: #ff8d3f;
$light-grey-color: #d5d6d2;

$primary-font-family: "Domine", sans-serif;
$secondary-font-family: "Yeseva One", sans-serif;

$primary-padding: 30px 120px;

@font-face {
  font-family: "Domine";
  src: url("assets/fonts/Domine/Domine-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yeseva One";
  src: url("assets/fonts/Yeseva/YesevaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@mixin containerStyle {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 10px 120px;
  background-color: $dark-color;
}

@mixin flexColumnWithGap($gap: 5px) {
  display: flex;
  flex-direction: column;
  row-gap: $gap;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: $primary-font-family;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
  color: $dark-color;
}

p {
  font-size: small;
}

a {
  text-decoration: none;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: $accent-color;
}
