@import "../../styles";

.hp-welcome-banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $light-grey-color;
  gap: 20px 50px;
  padding: 20px 120px;

  .hp-banner-title {
    grid-column: 1/3;
    color: $dark-color;
    font-family: $secondary-font-family;
    align-self: center;
    justify-self: center;
  }

  .hp-description-container {
    @include flexColumnWithGap(10px);
    font-family: $secondary-font-family;

    .hp-title {
      color: $brown-color;
    }

    .hp-description {
      font-size: large;
      color: $dark-color;
    }
  }
}
